.addTaskContainer {
  position: absolute;
  left: 25%;
  top: 22%;
}

.addTaskInput {
  width: 39.875rem;
  height: 3.375rem;
  background: var(--gray-500);
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  color: var(--gray-100);
  outline: none;
}

.addTaskInput:focus {
  border: 1px solid var(--purple-dark);
}

.addTaskButton {
  width: 5.625rem;
  height: 3.25rem;
  border: none;
  background: var(--blue-dark);
  border-radius: 0.5rem;
  margin-left: 0.313rem;
  position: absolute;
  cursor: pointer;
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--gray-100);
  padding-right: 15px;
  transition: background-color 0.2s;
}

.addTaskButton:hover {
  transition: background-color 0.2s;
  background-color: var(--blue);
}

.addIcon {
  position: absolute;
  top: 36%;
  padding-left: 3px;
}
